* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

:root[data-theme="light"] {
  --text: #050316;
  --background: #fbfbfe;
  --primary: #0f78e0;
  --secondary: #dddbff;
  --accent: #0a66c2;
}
:root[data-theme="dark"] {
  --text: #eae9fc;
  --background: #010104;
  --primary: #117fec;
  --secondary: #020024;
  --accent: #0a66c2;
}
.header {
  width: 100%;
  height: 8vh;
  padding: 0vh 30vh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header .logo {
  height: 100%;
  width: fit-content;
}

.nav-links-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4vh;
}
.navbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbtn a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.6vh;
  font-weight: 500;
  opacity: 0.7;
}

.navbtn span {
  font-size: 2.5vh;
  font-weight: 500;
  color: var(--text);
  opacity: 0.7;
}

.navbtn a:hover,
.navbtn span:hover {
  opacity: 1;
}

.nav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
}

#theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--text);
  font-size: 2vh;
  cursor: pointer;
  opacity: 0.7;
}

.join-now {
  font-size: 1.7vh;
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
  opacity: 0.9;
}

.join-now:hover {
  opacity: 1;
}

.sign-in-button {
  padding: 0.5vh 2vh;
  font-size: 1.7vh;
  font-weight: 600;
  border-radius: 5vh;
  color: var(--accent);
  border: 0.3vh solid var(--accent);
  background-color: var(--background);
}

.container {
  height: 100vh;
  /* width: 100vw; */
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mainContainer-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 20vh;
}

.mainContainer-left-title {
  font-size: 5vh;
  font-weight: 400;
  color: var(--text);
  line-height: 5vh;
  margin-bottom: 2vh;
}

.mainContainer-left-subtitle {
  font-size: 2.5vh;
  font-weight: 400;
  color: var(--text);
  opacity: 0.7;
  margin-bottom: 2vh;
}

.mainContainer-left-buttons {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.google-sign-in,
.email-sign-in {
  width: 40vh;
  height: 4vh;
  border-radius: 5vh;
  font-size: 1.7vh;
  font-weight: 500;
  color: var(--text);
  background-color: var(--background);
  border: 0.1vh solid var(--text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.google-sign-in:hover {
  opacity: 0.9;
}
.email-sign-in:hover {
  font-weight: 600;
}

.google-sign-in {
  background-color: var(--accent);
  color: var(--background);
  border: none;
  
}
.google-sign-in img {
  height: 2.5vh;
  width: 2.5vh;
  margin-right: 2vh;
  background-color: var(--background);
  border-radius: 50%;
  padding: 0.2vh;
}

.terms-n-condition {
  color: var(--text);
  font-size: 1.5vh;
  margin-top: 2vh;
  text-align: center;
}
.terms-n-condition p {
  margin: 0;
  font-weight: 400;
}

.terms-n-condition strong {
  color: var(--accent);
}

.new-join {
  color: var(--text);
  font-size: 1.7vh;
  margin-top: 2vh;
  text-align: center;
}
.new-join p {
  font-weight: 400;
}
.new-join a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 700;
  margin-left: 0.2vh;
}

.new-join a:hover {
  text-decoration: underline;
}

.mainContainer-right img {
  height: 60vh;
  width: fit-content;
}
