* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

:root[data-theme="light"] {
  --text: #050316;
  --background: #fbfbfe;
  --primary: #0f78e0;
  --secondary: #dddbff;
  --accent: #0a66c2;
  --border: rgba(0, 0, 0, 0.2); /* light border */
}

:root[data-theme="dark"] {
  --text: #eae9fc;
  --background: #010104;
  --primary: #117fec;
  --secondary: #020024;
  --accent: #0a66c2;
  --border: rgba(255, 255, 255, 0.2); /* dark border */
}
